<template>
  <div>
    <img
      src="https://banner2.kisspng.com/20180619/wlf/kisspng-simple-calculator-calculator-pro-android-computer-r2-5b28a9badacd72.9606478215293915468962.jpg"
    />
  </div>
</template>