<template>
  <div>
    <h1>Another Page</h1>
    <p>I am using a shared component</p>
    <Calculator />
  </div>
</template>
<script>
import Calculator from "@/components/shared/Calculator";

export default {
  name: "another-page",
  components: {
    Calculator
  }
};
</script>