<template>
  <div>
    <h1>
      <font color="blue">Blue Header</font>
    </h1>
    <router-view />
    <BlueFooter />
  </div>
</template>

<script>
import BlueFooter from "./BlueFooter";

export default {
  name: "blue-layout",
  components: {
    BlueFooter
  }
};
</script>