<template>
  <div>
		<RedHeader />
    <table border="1" cellpadding="6">
      <tr>
        <td width="100" height="500" valign="top">Something on the side</td>
        <td width="100%" valign="top">
          <router-view />
        </td>
      </tr>
    </table>
    <RedFooter />
  </div>
</template>

<script>
import RedHeader from "./RedHeader";
import RedFooter from "./RedFooter";

export default {
  name: "red-layout",
  components: {
		RedHeader,
    RedFooter
  }
};
</script>
